.review-list {
    margin: 20px;
}

p {
    margin: 0 40px;
}

button {
    flex: 1 0 40%;
    height: 60px;
    width: 180px;
    margin: 15px;
    background-color: rgb(206, 221, 255);
    color: black;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
    border-width: 0px;
}

button:hover {
    background-color: rgb(197, 197, 197);
}

.review-list textarea {
    display: flex;
    height: 100px;
    width: 80%;
    margin-top: 20px;
    border-width: 2px;
    border-color: black;
    font-size: 20px;
}

#remove-list-item {
    width: 120px;
    height: 40px;
}
